{% extends 'base.html' %}
{% load static %}

{% block title %}Requerimentos{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/requerimentos_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/requerimentos_override.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header-bar">
        <h1>Averbação de Separação Judicial</h1>
    </div>

    <div class="form-wrapper">
        <div class="form-header">
            <h2>REQUERIMENTO – AVERBAÇÃO DE SEPARAÇÃO JUDICIAL</h2>
            <h3>ILUSTRÍSSIMA OFICIALA DE REGISTRO DE IMÓVEIS DE MONTE CARMELO-MG</h3>
        </div>

        <!-- Rest of your form content -->
        <form id="form-cadastro">
            <div class="form-row">
                <div class="half">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" required>
                </div>
                <div class="half">
                    <label for="rg">RG:</label>
                    <input type="text" name="rg" id="rg" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="half">
                    <label for="cpf">CPF (MF):</label>
                    <input type="text" name="cpf" id="cpf" class="form-control" required>
                </div>
                <div class="half">
                    <label for="telefone">Whatsapp/Telefone:</label>
                    <input type="text" name="telefone" id="telefone" class="form-control" >
                </div>
            </div>

            <div class="form-row">
                <div style="flex: 1;">
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text" name="nacionalidade" id="nacionalidade" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="estado_civil">Estado Civil:</label>
                    <input type="text" name="estado_civil" id="estado_civil" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="profissao">Profissão:</label>
                    <input type="text" name="profissao" id="profissao" class="form-control" >
                </div>
            </div>

            <div class="form-row">
                <div style="flex: 2;">
                    <label for="endereco">Residente e domiciliado(a) na Av. /Rua /AL:</label>
                    <input type="text" name="endereco" id="endereco" class="form-control" >
                </div>
                <div style="flex: 0.2;">
                    <label for="numero">Nº:</label>
                    <input type="text" name="numero" id="numero" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="complemento">Complemento:</label>
                    <input type="text" name="complemento" id="complemento" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="bairro">Bairro:</label>
                    <input type="text" name="bairro" id="bairro" class="form-control" >
                </div>
            </div>

            <div class="form-row">

                <div style="flex: 1;">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" class="form-control" >
                </div>

                <div style="flex: 0.2;">
                    <label for="uf">UF:</label>
                    <select name="uf" id="uf" class="form-control" >
                        <option value="">Selecione</option>
                        <option value="MG">MG</option>
                        <option value="SP">SP</option>
                    </select>
                </div>

                <div style="flex: 1;">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
            </div>

            <div class="vem-requerer" style="display: flex; align-items: center; gap: 8px;">
                <p style="margin-bottom: 3px !important; margin-right: 0;">Vem requerer a Vossa Senhoria se digne AVERBAR na(s) matrícula(s):</p>
                <input type="text" name="matriculas" class="form-control" style="flex: 1;" >
            </div>

        <div class="form">    

            <div class="vem-requerer" style="display: flex; align-items: center; gap: 8px;">
                <p style="margin-bottom: 3px !important; margin-right: 0;">desse Registro a separação judicial de :</p>
                <input type="text" name="conjuge" class="form-control" style="flex: 1;" >
            </div>

            <div class="vem-requerer" style="display: flex; align-items: center; gap: 8px;">
                <p style="margin-bottom: 3px !important; margin-right: 0;">e de :</p>
                <input type="text" name="conjuge2" class="form-control" style="flex: 1;" >
            </div>
        </div>
            
        <div class="option-group">
                <p>Como prova do acima requerido anexa o(s) seguinte(s) documento(s):</p>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="certidao" style="margin-right: 5px;">
                    <label>- Certidão de casamento com averbação da separação judicial, expedida com menos de 10dias</label>
                </div>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="certidao" style="margin-right: 5px;">
                    <label>- Formal de partilha ou Carta de sentença.</label>
                </div>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="certidao" style="margin-right: 5px;">
                    <label>- Guia de ITED</label>
                </div>
                <div class="option">
                    <label>
                        <input type="checkbox" name="certidao" >
                        - Art.4°,§ 1º O pedido da inicial e o requerimento não serão indeferidos em decorrencia do não atendimento do dispositivo no Art.2° se a obtenção das informações tornar impossivel ou excessivamente onerosa o acesso à justiça ou aos serviços extrajudiciais.
                    </label>
                </div>
        </div>

            <p style="text-align: center;font-size: 13px;">Termos em que, P. Deferimento.</p>

            <div class="row mb-3 print-date-row" style="text-align: center;">
                <div class="col-md-12">
                    <p id="cidade-data" class="form-control-plaintext"></p>
                </div>
            </div>
            <div class="form-footer">
                <div class="signature-line">
                    <hr>
                    <span id="assinatura-preenchida"></span>
                </div>
            </div>
            <div class="observations">
                <p><strong>Obs:</strong></p>
                <ol>
                    <li>As xerox devem ser autenticadas</li>
                    <li>Reconhecer a firma do(a) requerente ou assinar o requerimento perante oficial do cartório
                    </li>
                    <li>Quando houver partilha de bens deve ser apresentado o respectivo Carta de
                        Sentença ou escritura para registro.</li>
                    <li>Certidão de casamento deverá constar os CPF(s) dos Cônjuge. Deve ser original ou copia autenticada.</li>
                    <li>Caso não conste na certidão de casamento os CPF(s), apresentar(copia autenticada) do cônjuge que será inserido na matricula.</li>
                </ol>
            </div>

            <div class="no-print" style="display: flex; justify-content: center; gap: 10px; margin-top: 1rem;">
                <button type="button" class="btn btn-primary" onclick="printRequerimento()">Imprimir</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-primary" id="btn-enviar-email">Enviar Email</button>
            </div>
        </form>
    </div>
</div>
<!-- Modal de sucesso -->
<div id="modalSucesso" class="modal">
    <div class="modal-content">
        <p id="mensagemModal">Cadastro salvo com sucesso!</p>
        <button onclick="fecharModal()" class="btn-modal-ok">OK</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cliente_autofill.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="{% static 'js/validacoes.js' %}"></script>
    <script src="{% static 'js/upload_pdf.js' %}"></script>
    <script src="{% static 'js/enviar_pdf_email.js' %}"></script>
    <script src="{% static 'js/requerimentos_form.js' %}"></script>
{% endblock %}