{% extends 'base.html' %}
{% load static %}

{% block title %}Requerimentos{% endblock %}

{% block styles %}
<style>
@media print {
  html, body {
    overflow: visible !important;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
  body {
    overflow: visible !important;
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE 10+ */
  }
}
</style>
<link rel="stylesheet" href="{% static 'css/requerimentos_form.css' %}">
<link rel="stylesheet" href="{% static 'css/requerimentos_override.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header-bar">
        <h1>Inscrição de Locação</h1>
    </div>
    <div class="form-wrapper">
        <div class="form-header">
            <h2>REQUERIMENTO – INSCRIÇÃO DE LOCAÇÃO</h2>
            <h3>ILUSTRÍSSIMA OFICIALA DE REGISTRO DE IMÓVEIS DE MONTE CARMELO-MG</h3>
        </div>
        <form id="form-cadastro">
            <div class="form-row">
                <div class="half">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" required>
                </div>
                <div class="half">
                    <label for="rg">RG:</label>
                    <input type="text" name="rg" id="rg" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="half">
                    <label for="cpf">CPF (MF):</label>
                    <input type="text" name="cpf" id="cpf" class="form-control" required>
                </div>
                <div class="half">
                    <label for="telefone">Whatsapp/Telefone:</label>
                    <input type="text" name="telefone" id="telefone" class="form-control" >
                </div>
            </div>
            <div class="form-row">
                <div style="flex: 1;">
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text" name="nacionalidade" id="nacionalidade" class="form-control" required>
                </div>
                <div style="flex: 1;">
                    <label for="estado_civil">Estado Civil:</label>
                    <input type="text" name="estado_civil" id="estado_civil" class="form-control" required>
                </div>
                <div style="flex: 1;">
                    <label for="profissao">Profissão:</label>
                    <input type="text" name="profissao" id="profissao" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div style="flex: 2;">
                    <label for="endereco">Residente e domiciliado(a) na Av. /Rua /AL:</label>
                    <input type="text" name="endereco" id="endereco" class="form-control" required>
                </div>
                <div style="flex: 0.2;">
                    <label for="numero">Nº:</label>
                    <input type="text" name="numero" id="numero" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="complemento">Complemento:</label>
                    <input type="text" name="complemento" id="complemento" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="bairro">Bairro:</label>
                    <input type="text" name="bairro" id="bairro" class="form-control" >
                </div>
            </div>
            <div class="form-row">
                <div style="flex: 1;">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" class="form-control" required>
                </div>
                <div style="flex: 0.2;">
                    <label for="uf">UF:</label>
                    <select name="uf" id="uf" class="form-control" required>
                        <option value="">Selecione</option>
                        <option value="MG">MG</option>
                        <option value="SP">SP</option>
                    </select>
                </div>
                <div style="flex: 1;">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" >
                </div>
            </div>
            <div class="vem-requerer" style="display: flex; align-items: center; gap: 10px; margin-top: 1.5rem;margin-bottom: 1.5rem;">
                <p style="margin: 0;">Vem requerer a Vossa Senhoria a inscrição do contrato de locação anexo, referente ao imóvel:</p>
                <input type="text" name="imovel" class="form-control" style="flex: 1;">
            </div>
            <div class="option-group">
                <p>Como prova do acima requerido anexa os seguintes documentos:</p>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="contrato" style="margin-right: 5px;">
                    <label>- Contrato de locação (original ou cópia autenticada)</label>
                </div>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="caucao" style="margin-right: 5px;">
                    <label>- Caução locatícia (se houver)</label>
                </div>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="registro" style="margin-right: 5px;">
                    <label>- Registro da locação para vigência no caso de alienação</label>
                </div>
                <div class="option" style="display: flex; align-items: center;">
                    <input type="checkbox" name="averbacao" style="margin-right: 5px;">
                    <label>- Averbação da locação para exercício de preferência</label>
                </div>
                <div class="option">
                    <label>
                        <input type="checkbox" name="art4">
                        - Art.4°,§ 1º O pedido da inicial e o requerimento não serão indeferidos em decorrência do não atendimento do dispositivo no Art.2° se a obtenção das informações tornar impossível ou excessivamente oneroso o acesso à justiça ou aos serviços extrajudiciais.
                    </label>
                </div>
            </div>
            <p style="text-align: center;font-size: 13px;">Termos em que, P. Deferimento.</p>
            <div class="row mb-3 print-date-row" style="text-align: center;">
                <div class="col-md-12">
                  <p id="cidade-data" class="form-control-plaintext"></p>
                </div>
            </div>
            <div class="form-footer">
                <div class="signature-line">
                    <hr>
                    <span id="assinatura-preenchida"></span>
                </div>
            </div>
            <div class="observations">
                <p><strong>Obs:</strong></p>
                <ol>
                    <li>Após a análise pelo escrevente, o título estará sujeito à nota devolutiva para cumprimento de exigências, se for o caso.</li>
                </ol>
            </div>
            <div class="no-print" style="display: flex; justify-content: center; gap: 10px; margin-top: 1rem;">
                <button type="button" class="btn btn-primary" onclick="printRequerimento()">Imprimir</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-primary" id="btn-enviar-email">Enviar Email</button>
            </div>
        </form>
    </div>
</div>
<!-- Modal de sucesso -->
<div id="modalSucesso" class="modal">
    <div class="modal-content">
        <p id="mensagemModal">Cadastro salvo com sucesso!</p>
        <button onclick="fecharModal()" class="btn-modal-ok">OK</button>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
<style media="print">
  html, body {
    overflow: hidden !important;
    height: 100% !important;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="{% static 'js/validacoes.js' %}"></script>
<script src="{% static 'js/upload_pdf.js' %}"></script>
<script src="{% static 'js/enviar_pdf_email.js' %}"></script>
<script src="{% static 'js/requerimentos_form.js' %}"></script>
{% endblock %}