{% extends "base.html" %}
{% load static %}
{{ block.super }}

{% block title %}Requerimentos - Pacto Antenupcial / União Estável{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/requerimentos_form.css' %}">
<link rel="stylesheet" href="{% static 'css/requerimentos_override.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header-bar">
        <h1>Registro de escritura de pacto antenupcial / união estável</h1>
    </div>

    <div class="form-wrapper">
        <div class="form-header">
            <h2>REQUERIMENTO – REGISTRO DE ESCRITURA DE PACTO ANTENUPCIAL / UNIÃO ESTÁVEL</h2>
            <h3>Ilustrissima Oficiala de Registro de Imóveis de Monte Carmelo-MG</h3>
        </div>
        <form id="form-cadastro">
            <div class="form-content">
                <div class="form-row">
                <div class="half">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" required>
                </div>
                <div class="half">
                    <label for="rg">RG:</label>
                    <input type="text" name="rg" id="rg" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="half">
                    <label for="cpf">CPF (MF):</label>
                    <input type="text" name="cpf" id="cpf" class="form-control" required>
                </div>
                <div class="half">
                    <label for="telefone">Whatsapp/Telefone:</label>
                    <input type="text" name="telefone" id="telefone" class="form-control" >
                </div>
            </div>

            <div class="form-row">
                <div style="flex: 1;">
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text" name="nacionalidade" id="nacionalidade" class="form-control" required>
                </div>
                <div style="flex: 1;">
                    <label for="estado_civil">Estado Civil:</label>
                    <input type="text" name="estado_civil" id="estado_civil" class="form-control" required>
                </div>
                <div style="flex: 1;">
                    <label for="profissao">Profissão:</label>
                    <input type="text" name="profissao" id="profissao" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div style="flex: 2;">
                    <label for="endereco">Residente e domiciliado(a) na Av. /Rua /AL:</label>
                    <input type="text" name="endereco" id="endereco" class="form-control" required>
                </div>
                <div style="flex: 0.2;">
                    <label for="numero">Nº:</label>
                    <input type="text" name="numero" id="numero" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="complemento">Complemento:</label>
                    <input type="text" name="complemento" id="complemento" class="form-control" >
                </div>
                <div style="flex: 1;">
                    <label for="bairro">Bairro:</label>
                    <input type="text" name="bairro" id="bairro" class="form-control" >
                </div>
            </div>

            <div class="form-row">
                <div style="flex: 1;">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" class="form-control" required>
                </div>
                <div style="flex: 0.2;">
                    <label for="uf">UF:</label>
                    <select name="uf" id="uf" class="form-control" required>
                        <option value="">Selecione</option>
                        <option value="MG">MG</option>
                        <option value="SP">SP</option>
                    </select>
                </div>
                <div style="flex: 1;">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
            </div>

                <p class="vem-requerer">Vem requerer a Vossa Senhoria:</p>

                <div class="option-group">
                    <p>Como prova do acima requerido anexa o(s) seguinte(s) documento(s):</p>
                    <div class="option" style="display: flex; align-items: center;">
                        <input type="checkbox" name="escritura" style="margin-right: 5px; margin-top: -3px;">
                        <label>- Escritura de Pacto Antenupcial/ União Estável no Livro n°3</label>
                    </div>
                    <div class="option" style="display: flex; align-items: center;">
                        <input type="checkbox" name="certidao" style="margin-right: 5px; margin-top: -3px;">
                        <label>- Certidão de casamento em cópia autenticada ou original</label>
                    </div>
                    <div class="option">
                    <label>
                        <input type="checkbox" name="certidao" >
                        - Art.4°,§ 1º O pedido da inicial e o requerimento não serão indeferidos em decorrencia do não atendimento do dispositivo no Art.2° se a obtenção das informações tornar impossivel ou excessivamente onerosa o acesso à justiça ou aos serviços extrajudiciais.
                    </label>
                </div>

                    <div class="info-group">
                        <p>Declaro, para os devidos fins, que o primeiro domicílio conjugal foi estabelecido no seguinte
                            endereço:</p>
                        <input type="text" id="domicilio1" name="domicilio1" class="form-control"
                            placeholder="Rua, número, complemento">
                        <input type="text" id="domicilio2" name="domicilio2" class="form-control"
                            placeholder="Bairro, cidade, estado">
                    </div>

                    <!-- Opção 2 -->
                    <div class="option" style="display: flex; align-items: center;">
                        <input type="checkbox" name="escritura" style="margin-right: 5px; vertical-align: middle; align-self: flex-start;margin-top: 4px;">
                        <label style="margin-bottom: 0;">- As averbações da escritura e do registro do Pacto Antenupcial / União Estável nas seguintes
                            matrículas dos imóveis em que os cônjuges / conviventes figuram como proprietários:</label>
                    </div>
                

                    <div class="info-group" style="display: flex; align-items: center; gap: 8px; margin-bottom: 4px;">
                        <input type="text" id="matricula1" name="matricula1" class="form-control" placeholder="Nº da matrícula " style="width: 140px; min-width: 0; font-size: 13px; padding: 4px 8px;">
                        <input type="text" id="matricula2" name="matricula2" class="form-control" placeholder=" " style="width: 140px; min-width: 0; font-size: 13px; padding: 4px 8px;">
                        <input type="text" id="matricula1" name="matricula1" class="form-control" placeholder=" " style="width: 140px; min-width: 0; font-size: 13px; padding: 4px 8px;">
                        <input type="text" id="matricula2" name="matricula2" class="form-control" placeholder=" " style="width: 140px; min-width: 0; font-size: 13px; padding: 4px 8px;"><strong >(Livro 2)</strong>
                    </div>
                </div>



               <div class="row mb-3 print-date-row" style="text-align: center;">
                <div class="col-md-12">
                    <p id="cidade-data" class="form-control-plaintext"></p>
                </div>
            </div>
            <div class="form-footer">
                <div class="signature-line">
                    <hr>
                    <span id="assinatura-preenchida" ></span>
                </div>
            </div>

                <div class="observations">
                    <p><strong>Obs:</strong></p>
                    <ol>
                        <li>Reconhecimento de firma do(a) requerente;</li>
                        <li>Juntar o original da Escritura de Pacto Antenupcial ou do regime de bens na união estável;
                        </li>
                        <li>Juntar o original ou cópia autenticada da certidão de casamento;</li>
                        <li>Juntar o original ou cópia autenticada da certidão de união estável extraída do Livro "E"
                            (emitida pelo Registro Civil das Pessoas Naturais).</li>
                    </ol>

                </div>
            </div>


            <div class="no-print" style="display: flex; justify-content: center; gap: 10px; margin-top: 1rem;">
                <button type="button" class="btn btn-primary" onclick="printRequerimento()">Imprimir</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-primary" id="btn-enviar-email">Enviar Email</button>
            </div>
        </form>
    </div>
</div>
<!-- Modal de sucesso -->
<div id="modalSucesso" class="modal">
    <div class="modal-content">
        <p id="mensagemModal">Cadastro salvo com sucesso!</p>
        <button onclick="fecharModal()" class="btn-modal-ok">OK</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="{% static 'js/validacoes.js' %}"></script>
<script src="{% static 'js/upload_pdf.js' %}"></script>
<script src="{% static 'js/enviar_pdf_email.js' %}"></script>
<script src="{% static 'js/requerimentos_form.js' %}"></script>
{% endblock %}